---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="font-sans flex flex-col gap-8 relative">
    <h1 class="text-4xl">{SITE_TITLE}</h1>
    <pre
      class="font-serif text-wrap whitespace-normal px-4">
          It is common sense to take a method and try it. If it fails, admit it
          frankly and try another. But above all, try something.
        </pre>

    <section class="flex flex-col gap-8 prose">
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/${post.slug}/`}>
                <h4>{post.data.title}</h4>
              </a>
              <div class="date">
                <FormattedDate date={post.data.pubDate} />
              </div>
            </li>
          ))
        }
      </ul>
    </section>

    <div class="bg-compare py-8 border-t border-main flex flex-col gap-3">
      <h3 class="text-lg">The best girl in the world 😘</h3>
      <img width="320" alt="riki~haaaaa~" src="/riki-love.jpeg" />
    </div>
  </div>
</BaseLayout>
