---
import type { CollectionEntry } from "astro:content";
import Backward from "../components/Backward.astro";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import Divider from "../components/Divider.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <a
    class="text-[36px] cursor-pointer right-8 bottom-20 fixed md:absolute md:bottom-auto md:right-10 md:top-10
   transition-colors hover:bg-yellow-300"
    href="/"
  >
    <Backward />
  </a>
  <article>
    <!-- <div class="hero-image">
      {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
    </div> -->
    <div class="prose flex flex-col gap-4">
      <div>
        <div class="text-gray-400">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1 class="text-4xl">{title}</h1>
      </div>

      <Divider />
      <div>
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>
